@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #374151;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e30915;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* ................... */

.number {
  text-shadow: -2px 0 #9c9c9c, 0 2px #9c9c9c, 2px 0 #9c9c9c, 0 -2px #9c9c9c;
  color: black;
}
